---
import Layout from "../layouts/Layout.astro";
import AIMessage from "../components/ChatBotMessage.astro";
import UserMessage from "../components/UserMessage.astro";
---

<Layout title="Chatbot">
	<button
		onclick="document.getElementById('chatbox').classList.toggle('hidden')"
		class="chat_btn active:animate-ping base fixed bottom-4 right-4 m-0 inline-flex h-16 w-16 cursor-pointer items-center justify-center rounded-full text-gray-200 border-gray-200 bg-transparent bg-none p-0 text-2xl font-medium normal-case leading-5 transition-colors duration-100 ease-in-out hover:bg-neutral-900 hover:text-xl hover:text-gray-200 disabled:pointer-events-none disabled:opacity-50"
	>
		<!-- <i class="fa-solid fa-robot"></i> -->
		<i class="fa-solid fa-headset"></i>
	</button>

	<div class="absolute z-40 hidden h-full w-full bg-black opacity-50"></div>

	<div
		id="chatbox"
		style="box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);"
		class="transition duration-700 ease-in-out fixed bottom-[calc(0rem+1.5rem)] right-0 mr-4 h-[634px] w-[440px] overflow-y-hidden rounded-lg border border-[#e5e7eb] bg-white p-6"
	>
		<!-- class="transition duration-700 ease-in-out fixed bottom-[calc(0rem+1.5rem)] right-0 mr-4 h-[634px] w-[440px] rounded-lg border border-[#e5e7eb] bg-white p-6" -->
		<!-- Heading -->
		<div class="flex justify-between">
			<div class="flex flex-col space-y-1.5 pb-6">
				<h2 class="text-lg font-semibold tracking-tight">Chatbot</h2>
				<p class="text-sm leading-3 text-[#6b7280]">
					Powered by Mendable and Vercel
				</p>
			</div>
			<button
				onclick="document.getElementById('chatbox').classList.toggle('hidden')"
				class="chat_btn active:animate-spin base z-50 m-0 -mr-4 -mt-3 inline-flex h-12 w-12 cursor-pointer items-center justify-center rounded-full border-gray-200 bg-transparent bg-none p-0 text-lg font-medium normal-case leading-5 transition-colors duration-100 ease-in-out hover:text-base disabled:pointer-events-none disabled:opacity-50"
			>
				<!-- <i class="fa-solid fa-robot"></i> -->
				<i class="fa-solid fa-down-left-and-up-right-to-center"></i>
			</button>
		</div>

		<!-- Chat Container -->
		<!-- <div
				class="h-[474px] pr-4 overflow-y-hidden" -->
		<div
			id="chat_messages"
			class="h-[82%] pr-4 overflow-y-auto"
			style="min-width: 100%;"
		>
			<!-- Chat Message AI -->
			<AIMessage> Hi, how can I help you today? </AIMessage>

			<!--  User Chat Message -->
			<UserMessage>Hello how are u doing?</UserMessage>
			<!-- Ai Chat Message  -->
			<AIMessage>
				Sorry, I couldn't find any information in the documentation about that.
				Expect answer to be less accurateI could not find the answer to this in
				the verified sources.
			</AIMessage>
			<UserMessage>
				I was just owndering around the world in 80 days like Jqacky Chan . do u
				know Jacky chan
			</UserMessage>
			<AIMessage> Yes! I know Jacky Chan. Who doesn't? </AIMessage>
		</div>
		<!-- Input box  -->
		<div class="flex items-center pt-0">
			<form
				action="#"
				onsubmit="document.getElementById('chat_messages').append('<UserMessage>' + document.getElementById('user_message').value + '</UserMessage>')"
				class="flex w-full items-center justify-center space-x-2"
			>
				<input
					id="user_message"
					class="flex h-10 w-full rounded-md border border-[#e5e7eb] px-3 py-2 text-sm text-[#030712] placeholder-[#6b7280] focus:outline-none focus:ring-2 focus:ring-[#9ca3af] focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
					placeholder="Type your message"
					value=""
				/>
				<button
					type="submit"
					class="inline-flex h-10 items-center active:animate-pulse justify-center rounded-md bg-black px-4 py-2 text-sm font-medium text-[#f9fafb] hover:bg-[#111827E6] disabled:pointer-events-none disabled:opacity-50"
					><i class="fa-solid fa-paper-plane"></i></button
				>
			</form>
		</div>
	</div>
</Layout>
